.container {
  display: flex;
  flex-direction: row;
  width: 75%;
  height: 250px;
  margin:auto;
}

.container__containerLeft {
  margin-right: 40px;
}

.containerLeft__photoCover {
  height: 100%;
}

.containerLeft__photoCover > img {
  width: 450px;
  min-width: 450px;
  height: 100%;
  border-radius: 10px;
}

.container__containerRight{
  display: flex;
  flex-direction: column;
  min-height: 80%;
  margin:auto;
}

.containerRight__provider {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.containerRight__provider > img {
  width: 25px;
  margin-right: 5px;
}

.containerRight__provider > p {
  color: #71747A;
}

.containerRight__title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
}

.containerRight__description{
  color: #71747A;
  margin-bottom: 15px;
}

.containerRight__contentInfo {
  color: #71747A;
}

.containerRight__contentInfo > p > span{
    color: red;
    font-weight: 500;
}

