<div class="container">
  <div class="container__containerLeft">
    <div class="containerLeft__photoCover">
      <a href="">
        <img
        src="{{ photoCover }}"
        >
      </a>
    </div>
  </div>

  <div class="container__containerRight">
    <div class="containerRight__provider">
      <img src="{{ providerPhoto }}">
      <p>{{ providerName }}</p>
    </div>

    <div class="containerRight__title">
      <a href="">
        <h1>{{ title }}</h1>
      </a>
    </div>

    <div class="containerRight__description">
      <a href="">
        <p>{{ description }}</p>
      </a>
    </div>

    <div class="containerRight__contentInfo">
      <p><span>{{ contentGenre }}</span> - {{timeReading}} min read</p>
    </div>
  </div>
</div>
