.container {
  display: flex;
  flex-direction: column;
  width: 200px;
  min-height: 500px;
}

.containerLeft__photoCover > a > img {
  width: 200px;
  height: 200px;
  border-radius: 15px;
}

.container__containerRight {
  display: flex;
  flex-direction: column;
}

.containerRight__provider {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.containerRight__provider > img {
  width: 20px;
  margin-right: 5px;
}

.containerRight__provider > p {
  color: #71747A;
}

.containerRight__title {
  margin-bottom: 10px;
}

.containerRight__title > a > h1 {
  font-weight: 700;
  font-size: 20px;
  color: black;
}

.containerRight__description {
  margin-bottom: 10px;
}

.containerRight__description > a > p {
  color: #71747A;
}

.containerRight__contentInfo {
  color: #71747A;
}

.containerRight__contentInfo > p > span{
    color: red;
    font-weight: 500;
}
