<div class="welcome-card">
  <app-welcome-card></app-welcome-card>
</div>

<div class="big-card">
  <app-big-card
  [id]="dataFake[0].id"
  [photoCover]="dataFake[0].photo"
  [title]="dataFake[0].title"
  [description]="dataFake[0].description"
  [providerPhoto]="dataFake[0].providerPhoto"
  [providerName]="dataFake[0].providerName"
  [contentGenre]="dataFake[0].contentGenre"
  [timeReading]="dataFake[0].timeReading">
  >
</app-big-card>
</div>

<div class="small-cards">
  <div class="small-cards__title">
    <h1>Latest News</h1>
  </div>
  <div class="small-cards__contents">
    @for (t of dataFake; track $index) {
      @if ($index > 0) {
        <app-small-card
        [id]="t.id"
        [photoCover]="t.photo"
        [title]="t.title"
        [description]="t.description"
        [providerPhoto]="t.providerPhoto"
        [providerName]="t.providerName"
        [contentGenre]="t.contentGenre"
        [timeReading]="t.timeReading">
        >
        </app-small-card>
      }
    }
  </div>
</div>
