<header>
  <app-menu-bar></app-menu-bar>
</header>

<div class="welcome-card">
  <app-welcome-card></app-welcome-card>
</div>

<div class="big-card">
  <app-big-card></app-big-card>
</div>

<div class="small-cards">
  <div class="small-cards__title">
    <h1>Latest News</h1>
  </div>
  <div class="small-cards__contents">
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
  </div>
</div>
